* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  margin: 1px auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.container .box .items {
  /* background: #333; */
  margin: 1px;
  padding: 1px;
}

.container .user-data {
  display: flex;
  max-height: 280px;
  min-width: 200px;
  justify-content: space-between;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}
